

<div class="time-entries-container">
    {{#each @timeEntries as |timeEntry|}}
      <div class="time-entry-card">
        <div class="time-entry-header">
          <span class="time-entry-title">{{timeEntry.service.name}}</span>
        </div>
        <div class="time-entry-body">
          <p class="time-entry-element">{{timeEntry.time}} minutes</p>
        <p class="time-entry-note">{{{timeEntry.note}}}</p> </div>
        <button type="button" id={{timeEntry.id}}  {{on "click" @deleteEntry}}>Delete</button>
      </div>
    {{/each}}
  </div>