<div class="form-container">
  <form class="form" {{on "submit" this.submitTimeTracking}}>
    <div class="form-group">
      <label for="date-picker">Pick a Date:</label>
        <input 
          type="date" 
          id="date-picker"
          value={{@selectedDate}} 
          {{on "input" @setSelectedDate}} 
        />
    </div>
    {{#if @selectedDate}}
      <div class="form-group">
        <label for="service-dropdown" class="form-label">Choose an Option:</label>
          <select 
            required 
            id="service-dropdown" 
            value={{this.selectedService}}
            {{on "change" this.setSelectedService}} 
            {{on "focus" this.loadServices}}
          >
            <option
              value="" 
              disabled 
              selected 
              hidden
            >
              Select a service
            </option>
            {{#each this.services as |service|}}
              <option value={{service.initialServiceId}}>
                {{service.name}}
                </option>
            {{/each}}
          </select>
      </div>
      <div class="form-group">
        <label for="time">Time:</label>
        <input 
          id="time"
          type="number"
          required
          value={{this.time}} 
          {{on "input" this.setTime}} 
        />
      </div>
      <div class="form-group">
        <label for="note">Note:</label>
          <input 
            id="note"
            type="text"
            value={{this.note}} 
            required
            {{on "input" this.setNote}}
          />
      </div>
      <div class="form-group">
        <button 
          type="submit" 
          class="submit-button"
        >
          Submit
        </button>
      </div>
    {{/if}}
  </form>
</div>