<div class="time-tracker-container">
  <TimeEntry::TimeEntryFormComponent
    @submitTimeTracking={{this.submitTimeTracking}}
    @selectedDate={{this.selectedDate}}
    @setSelectedDate={{this.setSelectedDate}}
    @services={{@services}}
    @note={{this.note}}
    @selectedService={{this.selectedService}}
    @setNote={{this.setNote}}
    @setSelectedService={{this.setSelectedService}}
    @setTime={{this.setTime}}
    @time={{this.time}}
   />

  <div class="time-entries-container">
    {{#each this.timeEntries as |timeEntry|}}
      <div class="time-entry-card">
        <div class="time-entry-header">
          <span class="time-entry-title">{{timeEntry.service.name}}</span>
        </div>
        <div class="time-entry-body">
          <p class="time-entry-element">{{timeEntry.time}} minutes</p>
        <p class="time-entry-note">{{{timeEntry.note}}}</p> </div>
        <button type="button" id={{timeEntry.id}}  {{on "click"  this.deleteEntry}}>Delete</button>
      </div>
    {{/each}}
  </div>

</div>
