<div class="time-tracker-container">
  <TimeEntry::TimeEntryFormComponent
    @submitTimeTracking={{this.submitTimeTracking}}
    @selectedDate={{this.selectedDate}}
    @setSelectedDate={{this.setSelectedDate}}
    @services={{@services}}
    @note={{this.note}}
    @selectedService={{this.selectedService}}
    @setNote={{this.setNote}}
    @setSelectedService={{this.setSelectedService}}
    @setTime={{this.setTime}}
    @time={{this.time}}
   />
  <TimeEntry::TimeEntryCardComponent
    @deleteEntry={{this.deleteEntry}}
    @timeEntries={{this.timeEntries}}
   />
  

</div>
